{% extends "base.html" %}

{% block title %}Categorias | Loja Mix{% endblock %}
{% block nav_class %}sticky{% endblock %}

{% block content %}
    <section class="container section-padding">
        <div class="section-header" data-aos="fade-right">
            <h2>Nossas Categorias</h2>
            <div class="line"></div>
        </div>

        <div class="product-grid" style="grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
            {% for category in categories %}
            <a href="{{ url_for('ver_categoria', slug=category|slugify) }}" class="category-card" data-aos="fade-up">
                <h3>{{ category }}</h3>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
